.sheet-hidden {
    visibility: hidden;
}

.sheet-anteckningar {
    width: 200px;
    height: 80px;
}

.sheet-name {
    width: 100px;
}

.sheet-line {
    width: 200px;
}

.sheet-eg_select {
    width: 50px;
}

.sheet-eg_num {
    width: 40px;
}